/* Custom color scheme named "custom" */
[data-md-color-scheme="custom"] {
  /* Normal font color */
  --md-primary-fg-color: #000000;
  --md-typeset-a-color: #59e389;
  --md-accent-fg-color: #59e389;
  --md-primary-bg-color: #59e389;

  /* Background color */
  --md-background-primary: #FFFFFF;
  background-color: #FFFFFF;
}

[data-md-color-scheme="custom"] .md-nav--secondary .md-nav__title,
[data-md-color-scheme="custom"] .md-nav--primary .md-nav__title,
[data-md-color-scheme="custom"] .md-nav--lifted > .md-nav__list > .md-nav__item--active > .md-nav__link {
  background: white;
  box-shadow: none;
}

@media screen and (min-width: 60em) {
  [data-md-color-scheme="custom"] .md-search__input + .md-search__icon,
  [data-md-color-scheme="slate"] .md-search__input + .md-search__icon {
    color: white;
  }
}

[data-md-color-scheme="custom"] .md-header {
  color: white;
}

/* Buttons */
[data-md-color-scheme="custom"] .md-button {
  color: #666;
}
[data-md-color-scheme="custom"] .md-button-grid,
[data-md-color-scheme="slate"] .md-button-grid {
  width: 300px;
  margin: 10px 10px;
  padding: 20px 20px;
  text-align: center;
} 

[data-md-color-scheme="custom"] .md-typeset a {
  font-weight: 700;
}

[data-md-color-scheme="slate"] {
  /* Normal font color */
  --md-typeset-a-color: #59e389!important;
  --md-accent-fg-color: #59e389!important;
}

.md-typeset h1, .md-typeset h2 {
  font-weight: 700;
}

@media screen and (max-width: 76.2344em) {
  .md-nav--primary .md-nav__title {
    display: none;
  }